.c-avatar{
  .c-avatar-container{ 
    display: inline-block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ccc;
    border-radius: 50px;
  }
}
